@page "/signup"

<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <NavLink href="thanks"><button>create</button></NavLink>
            <p class="message">Already registered? <NavLink href="login">Sign In</NavLink></p>
        </form>

    </div>
</div>
